USE [BibliotecaDB]
GO
/****** Object:  StoredProcedure [dbo].[AddLibro]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddLibro]
    @Titulo nvarchar(50),
    @AñoPublicacion datetime,
    @IdAutor int,
    @IdEditorial int
as
begin
    insert into libro (Titulo, AñoPublicacion, IdAutor,IdEditorial)
    values (@Titulo, @AñoPublicacion, @IdAutor, @IdEditorial);
end;

GO
/****** Object:  StoredProcedure [dbo].[BorrarLibroPorEditorial]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[BorrarLibroPorEditorial]
    @IdEditorial int
as
begin
    delete from libro
    where IdEditorial = @IdEditorial;
end;

GO
/****** Object:  StoredProcedure [dbo].[DeleteLibros]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeleteLibros]
    @IdAutor int
as
begin
    delete from Libro
    where IdAutor = @IdAutor;
end;

GO
/****** Object:  StoredProcedure [dbo].[GetAllLibros]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllLibros]
AS
BEGIN
    SELECT 
        l.IdLibro,
        l.Titulo,
        l.AñoPublicacion,
        a.NombreAutor,
        e.NombreEditorial
    FROM Libro l
    INNER JOIN Autor a ON l.IdAutor = a.IdAutor
    INNER JOIN Editorial e ON l.IdEditorial = e.IdEditorial;
END;

GO
/****** Object:  StoredProcedure [dbo].[LibroPorAutor]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LibroPorAutor] 
    @IdAutor int
as
begin
    select *
    from libro
    where idautor = @IdAutor;
end;

GO
/****** Object:  StoredProcedure [dbo].[LibroPorEditorial]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LibroPorEditorial]
    @IdEditorial int
as
begin
    select *
    from libro
    where IdEditorial = @IdEditorial;
end;

GO
/****** Object:  StoredProcedure [dbo].[LibrosPorFecha]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LibrosPorFecha]
    @AñoPublicacion datetime
as
begin
    select *
    from libro
    where AñoPublicacion = @AñoPublicacion;
end;
GO
/****** Object:  StoredProcedure [dbo].[LibrosPorFechaYHora]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LibrosPorFechaYHora]
    @IdAutor int,
    @AñoPublicacion datetime
as
begin
    select *
    from libro
    where IdAutor = @IdAutor
      and AñoPublicacion = @AñoPublicacion;
end;

GO
/****** Object:  StoredProcedure [dbo].[LibrosPorTitulo]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LibrosPorTitulo]
    @Titulo nvarchar(50)
as
begin
    select *
    from libro
    where titulo like '%' + @Titulo + '%';
end;

GO
/****** Object:  Table [dbo].[Autor]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[NombreAutor] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[NombreEditorial] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Libro]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[AñoPublicacion] [datetime] NULL,
	[IdAutor] [int] NOT NULL,
	[IdEditorial] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LibroAutor]    Script Date: 16/1/2026 15:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroAutor](
	[IdLibro] [int] NOT NULL,
	[IdAutor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC,
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [NombreAutor]) VALUES (1, N'Roberto Carlos Zuñiga')
INSERT [dbo].[Autor] ([IdAutor], [NombreAutor]) VALUES (2, N'Ron damon')
INSERT [dbo].[Autor] ([IdAutor], [NombreAutor]) VALUES (3, N'Macario Velazques')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IdEditorial], [NombreEditorial]) VALUES (1, N'Pearson´s')
INSERT [dbo].[Editorial] ([IdEditorial], [NombreEditorial]) VALUES (2, N'Grijalbo')
INSERT [dbo].[Editorial] ([IdEditorial], [NombreEditorial]) VALUES (3, N'Mexico Editorial')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IdLibro], [Titulo], [AñoPublicacion], [IdAutor], [IdEditorial]) VALUES (1, N'Los 3 cochinitos', CAST(0xFFFFF83800000000 AS DateTime), 1, 1)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [AñoPublicacion], [IdAutor], [IdEditorial]) VALUES (2, N'los 3 cochinitos', CAST(0x0000917C00000000 AS DateTime), 1, 1)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [AñoPublicacion], [IdAutor], [IdEditorial]) VALUES (3, N'Pinocho', CAST(0x000007BB00000000 AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Libro] OFF
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Autor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Autor]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Editorial] FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Editorial]
GO
ALTER TABLE [dbo].[LibroAutor]  WITH CHECK ADD FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[LibroAutor]  WITH CHECK ADD FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libro] ([IdLibro])
GO
